#menu a {
    color: blue;

}

body {
    font-size: 14px;
    font-family: "Verdana" , sans-serif;
    color: black;
}


input {
    width: 22em;
}

input[type='submit'] {
    width: 5em;
    float: right;
}

td {
    border: none;
}

table {
    border-collapse: collapse;
}

.form {
    border: 1px;
    width: 600px;
}

#header-row {
    font-weight: bold;
    border-bottom: 3px solid black;
}